h1,
h2 {
  color: grey;
}

.dashboard,
.heroes {
  font-size: 16px;
  color: cadetblue;
  padding: 5px;
  border-radius: 6px;
  background-color: gainsboro;
}

.heroes-content {
  text-align: center;
}

.heroes-content button {
  font-size: 16px;
  padding: 30px 20px;
  color: white;
  background-color: cadetblue;
}
